<%- include('../partials/head') %>
<body >
<%- include('../partials/headerAdmin') %>
<main >

  <section class="caption">
    <div><p>Mis Productos</p></div>
    <div>
      <a href="/users/user/1"> <button>Volver a mi perfil</button></a>
      <a href="/admin/create"><button>Crear Producto</button></a>
    </div>
  </section>	
  <section>
    <div class="tableProductsAdmin" >
      <div class="header-row row">
        <span class="cell primary">Producto</span>
        <span class="cell">Imagen</span>
         <span class="cell">Precio</span>
        <span class="cell">Detalles</span>
        <span class="cell"> </span>
      </div>
    <% products.map (product => { %>
      <div class="row">
        <input type="radio" name="expand">
          <span class="cell primary" data-label="Producto"><%= product.id %>- <%= product.name %></span>
          <span class="cell" data-label="Imagen"><img class="cart-products" src="/img/productsimg/<%= product.image %> " alt="imagen producto"></span>
          <span class="cell" data-label="Precio">$ <%= product.price %></span>
          <span class="cell" data-label="Detalles"><a href="/product/<%= product.id %> ">ver más detalles</a></span>
          <span class="cell" data-label=""><a href="/admin/edit/<%= product.id %> "><button>Editar</button></a>
            <form action="/admin/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">Eliminar</button>
						</form>
          </span>
      </div>
      <% }) %>
    </div>
  </section>

</main>


</body>