<%- include('../partials/head') %>
<body >
<%- include('../partials/headerAdmin') %>


<main class="mainformproduct">

	<section class="containerNewProduct">
		<h1 class="formulario__h1" >NUEVO PRODUCTO</h1>

		<form action="/admin/create"  method="POST" class="formulario" id="formulario" enctype="multipart/form-data">
			
			


			<!-- Grupo: nombre -->
			<div class="formulario__grupo" id="grupo__usuario">
				<label for="nombre" class="formulario__label">Nombre</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" <%= locals.errors && errors.nombre ? 'danger' : 'data' %> name="nombre" id="nombre" placeholder="Por ej: lapiceras" value=<%= locals.old && old.nombre ? old.nombre : null %>>
					
					<br>
					<% if(locals.errors && errors.nombre) { %> 
						<small> <%= errors.nombre.msg %> </small>
					<% } %> 
		
				</div>
			</div>

			



			
			<!-- Grupo: marca -->
			<div class="formulario__grupo" id="grupo__nombre">
				<label for="marca" class="formulario__label">Marca</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" <%= locals.errors && errors.marca? 'danger' : 'data' %> name="marca" id="marca" placeholder="Por Ej: Bic" value=<%= locals.old && old.marca ? old.marca : null %>>
					
					<br>
					<% if(locals.errors && errors.marca) { %> 
						<small> <%= errors.marca.msg %> </small>
					<% } %> 
				
					<i class="formulario__validacion-estado fas fa-times-circle"></i>
				</div>
			</div>






			<!-- Grupo: categoria  -->
			<div class="formulario__grupo" id="grupo__password">

				<label for="categoriaId" class="formulario__label" >Categoria: </label>
				<div class="formulario__grupo-input"></div>
				<select name="categoriaId" id="categoriaId" class= "formulario__input">
					<option disabled hidden selected>Elegir</option>
					<option value="Libreria">Libreria</option>
					<option value="Papeleria">Papeleria</option>
					<option value="Oficina">Oficina</option>
					<option value="Estudiante">Estudiante</option>
				</select>

	
				</div>
			</div>

			<!-- Grupo: stock -->
			<div class="formulario__grupo" id="grupo__correo">
				<label for="stock" class="formulario__label">Stock</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" <%= locals.errors && errors.stock? 'danger' : 'data' %> name="stock" id="stock" placeholder="Por Ej: 100" value=<%= locals.old && old.stock ? old.stock : null %>>
					
					<br>
					<% if(locals.errors && errors.stock) { %> 
						<small> <%= errors.stock.msg %> </small>
					<% } %> 
					
									</div>
			</div>





			<!-- Grupo: precio -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="precio" class="formulario__label">Precio</label>
				<div class="formulario__grupo-input">
					<input type="text" class="formulario__input" <%= locals.errors && errors.precio? 'danger' : 'data' %> name="precio" id="precio" placeholder="Por Ej: 100" value=<%= locals.old && old.precio ? old.precio : null %>>
					
					<br>
					<% if(locals.errors && errors.precio) { %> 
						<small> <%= errors.precio.msg %> </small>
					<% } %> 
				
				</div>
			</div>



			
			<!-- Grupo: descuento -->
			<div class="formulario__grupo" id="grupo__password">
				<label for="descuento" class="formulario__label">descuento</label>
				<div class="formulario__grupo-input">
					
					<input type="text" class="formulario__input" <%= locals.errors && errors.descuento? 'danger' : 'data' %> name="descuento" id="descuento" placeholder="Por Ej: 15" value=<%= locals.old && old.descuento ? old.descuento : null %> >
					<option disabled hidden selected>Elegir</option>
					<br>
					<% if(locals.errors && errors.descuento) { %> 
						<small> <%= errors.descuento.msg %> </small>
					<% } %> 
				
				</div>
			</div>




			<!-- Grupo: imagen -->

			<div class="formulario__grupo">
				<label class="formulario__label" for="image"  >Agregar imagen</label>
				<input type="file" name="image" id="image" accept="image/*" onchange="loadFile(event)" >
				
				
				<script>
					var loadFile = function(event) {
					  var output = document.getElementById('output');
					  output.src = URL.createObjectURL(event.target.file);
					};
				  </script>
				
			</div>
			<div >
				<img class="formulario__imagenout" id="output"/>
			</div>
			



			<!-- Grupo: descripcion -->
			<div class="formulario__grupo">
				<label for="descripcion" class="formulario__label">Descripcion del producto</label>
				<textarea class= "descripcion_producto" name="descripcion" id="descripcion"  rows="10" ></textarea>
					
			  </div>
	

			

			<div class="formulario__grupo formulario__grupo-btn-enviar">
				<button type="submit" class="formulario__btn">Crear</button>
			</div>

		</form>
	</section>


  
</main>


</body>