<!DOCTYPE html>
<html lang="en">
    <%- include('./../partials/head') %>
<body>


    <main class="mainAdmin">
      

        <section class="seccion-perfil-usuario">
            <div class="perfil-usuario-header">
                <div class="perfil-usuario-portada">
                    <div class="perfil-usuario-avatar">
                        <img src="/img/usersimg/<%= usuario.avatar %> " alt="img-avatar">
                        <button type="button" class="boton-avatar">
                            <i class="far fa-image"></i>
                        </button>
                    </div>
                    <button type="button" class="boton-portada">
                        <i class="far fa-image"></i> Editar perfil
                    </button>
                </div>
            </div>
            <div class="perfil-usuario-body">
                <div class="perfil-usuario-bio">
                    <h3 class="titulo"><%= usuario.usuario %> </h3>
                    <p class="texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="perfil-usuario-footer">
                    <ul class="lista-datos">
                        <li><i class="icono fas fa-user"></i>Nombre: <%= usuario.nombre %> </li>
                        <li><i class="icono fas fa-users"></i>Apellido: <%= usuario.apellido %></li>
                        <li><i class="icono fas fa-map-marker-alt"></i>Direccion: <%= usuario.direccion %></li>
                        <li><i class="icono fas fa-user-check"></i>Registro: <%= usuario.createdAt %></li>
                    </ul>
                   <!--  <ul class="lista-datos">
                        <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion.</li>
                        <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento.</li>
                        <li><i class="icono fas fa-user-check"></i> Registro.</li>
                        <li><i class="icono fas fa-share-alt"></i> Redes sociales.</li>
                    </ul> -->
                </div>
                <div class="redes-sociales">
                    <a href="/" class="boton-redes facebook  fas fa-home"><i class="icon-facebook"></i></a>
                    <a href="/admin" class="boton-redes twitter fas fa-cog"><i class="icon-twitter"></i></a>
                    <br>
                   <!--  <a href="" class="boton-redes instagram fas fa-times"><i class="icon-instagram"></i></a> -->
                    <form action="/users/logout" method="GET"> <button class="boton-redes instagram fas fa-times" type="submit"></button> </form>
                </div>
            </div>
        </section>
       
    </main>

    




</body>
</html>