<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %> 

<body class="home">

    <%- include('./partials/header') %> 
   
    <main >

        <!-- *********************************************************
            CARRUSEL BANNER
        ********************************************************* -->
        <section class="body_carrusel">
            <div class="contenedor_carrusel">

                <input type="radio" id="1" name="image-slide" hidden/>
                <input type="radio" id="2" name="image-slide" hidden/>
                <input type="radio" id="3" name="image-slide" hidden/>

                <div class="carrusel">
                    <div class="item_carrusel">
                        <img class="img_carrusel" src="img/carrusel_1.gif" alt="">
                    </div>

                    <div class="item_carrusel">
                        <img src="img/carrusel_2.gif" alt="">
                    </div>

                    <div class="item_carrusel">
                        <img src="img/carrusel_3.gif" alt="">
                    </div>
                </div>

                <div class="paginacion">
                    <label class="item_paginacion" for="1">
                        <img src="img/carrusel_1.gif" alt="">
                    </label>
                    <label class="item_paginacion" for="2">
                        <img src="img/carrusel_2.gif" alt="">
                    </label>
                    <label class="item_paginacion" for="3">
                        <img src="img/carrusel_3.gif" alt="">
                    </label>
                </div>

            </div>
        </section>


   <!-- *********************************************************
            CARRUSEL MARCAS
            ********************************************************* -->

            <div class="carousel">
                <div class="carousel__contenedor">
                    <button aria-label="Anterior" class="carousel__anterior">
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <div class="carousel__lista">
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_exito.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_bic.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_faber.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_ledesma.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_paprika.png" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_postit.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_sharpie.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_avery.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_casio.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_edding.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_muresco.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_pizzini.webp" alt="">
                        </div>
                    </div>

                    <button aria-label="Siguente" class="carousel__siguiente">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>

                <div role="talist" class="carousel__indicadores"></div>

            </div>

    
        <!-- *********************************************************
            TARJETAS INFO
        ********************************************************* -->

        <div class="container__cardultimo">

            <div class="card__fatherultimo">
                <div class="cardultimo">
                    <div class="card__frontultimo" style="background-image: url(/img/envios_pais.png);">
                        <div class="bgultimo"></div>
                        <div class="body__card_frontultimo">
                            <h1>Envio a todo el pais</h1>
                        </div>
                    </div>
                    <div class="card__backultimo">
                        <div class="body__card_backultimo">
                            <h1>Envio Argentina</h1>
                            <p>Vamos a cada rincon del pais, llevandote los mejores productos a la puerta de tu casa. </p>
                           <!--  <input type="button" value="Leer Más"> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__fatherultimo">
                <div class="cardultimo">
                    <div class="card__frontultimo" style="background-image: url(/img/formas_pago.jpeg);">
                        <div class="bgultimo"></div>
                        <div class="body__card_frontultimo">
                            <h1>Facilidad de pago</h1>
                        </div>
                    </div>
                    <div class="card__backultimo">
                        <div class="body__card_backultimo">
                            <h1>Formas de pago</h1>
                            <p>Recibimos todas las forma de pago, para facilitarte llegar a lo que buscas.</p>
                            <!-- <input type="button" value="Leer Más"> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="card__fatherultimo">
                <div class="cardultimo">
                    <div class="card__frontultimo" style="background-image: url(/img/precios_especiales.jpg);">
                        <div class="bgultimo"></div>
                        <div class="body__card_frontultimo">
                            <h1>Precios premium</h1>
                        </div>
                    </div>
                    <div class="card__backultimo">
                        <div class="body__card_backultimo">
                            <h1>Precios cuidados</h1>
                            <p>Tenemos grandes precios y descuento, para empresas, instituciones, revendedores y estudiantes.</p>
                            <!-- <input type="button" value="Leer Más"> -->
                        </div>
                    </div>
                </div>
            </div>

           

        </div>
       


 <!-- *********************************************************
            CARUSEL PRODCTOS
        ********************************************************* -->
<div class="css_carusel_product">
<section class="product__redising">
<div class="products_body center productos__nuevos">
    <% productos.forEach (producto => { %>
        <% if(+producto.categoriaId === 1){%>

    <div class="wrapper">
        <div class="card_product container_2">
            <div class="img_cardbox">
                <img src="/img/productsimg/<%= producto.imagen %> " alt="imagen producto">
            </div>
            <div class="details_product">
                    <div class="textcontent_product">
                        <h3> <%= producto.nombre %> </h3>
                    </div>
                    <h4 class="price_product">$ <%= producto.precio %></h4>
                    <!-- <h4>color</h4> -->
                    <!-- <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul> -->
                    <a href="/product/<%= producto.id %> ">
                        <button>Ver producto</button>
                        
                    </a> 
                    <a href="#">
                       
                        <button>Agregar Carrito</button>
                    </a> 
                    
            </div>
            <div class="description_product">
                <div class="icons_product">
                    <i class="fas fa-info-circle"></i>
                </div>
                <div class="contents_product">
                    <h2><%= producto.marca %></h2>
                    <p><%= producto.descripcion %></p>
                </div>
            </div>
        </div>
   </div>
        <% } %>
        <% }) %>

</div>

</section>

</div>

 <!-- *********************************************************
            BANNER PUBLICIDAD
        ********************************************************* -->


        
        <div class="banner">
            <img src="/img/publicidad_home.png" alt="venta agenda">
        </div>



 <!-- *********************************************************
            CARUSEL PRODUCTOS 2
        ********************************************************* -->

        <div class="css_carusel_product">

        <section class="product__redising">

            <div class="products_body center productos__nuevos">
                <% productos.forEach (producto => { %>
                    <% if(+producto.categoriaId === 4){%>
            
                <div class="wrapper">
                    <div class="card_product container_2">
                        <div class="img_cardbox">
                            <img src="/img/productsimg/<%= producto.imagen %> " alt="imagen producto">
                        </div>
                        <div class="details_product">
                                <div class="textcontent_product">
                                    <h3> <%= producto.nombre %> </h3>
                                </div>
                                <h4 class="price_product">$ <%= producto.precio %></h4>
                                <!-- <h4>color</h4> -->
                                <!-- <ul>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul> -->
                                <a href="/product/<%= producto.id %> ">
                                    <button>Ver producto</button>
                                </a> 
                        </div>
                        <div class="description_product">
                            <div class="icons_product">
                                <i class="fas fa-info-circle"></i>
                            </div>
                            <div class="contents_product">
                                <h2><%= producto.marca %></h2>
                                <p><%= producto.descripcion %></p>
                            </div>
                        </div>
                    </div>
               </div>
                    <% } %>
                    <% }) %>
            
            </div>
            
            </section>
            </div>
            

        <!-- *********************************************************
            TARJETAS CATEGORIAS
        ********************************************************* -->
           
                <div class="cards__info">
                    
                    <div class="card__info card1">
                        <div class="container__info">
                            <img   src="/img/libreria.jpg" alt="Oficina">
                        </div>
                        <div class="details__info">
                            <h3>Libreria</h3>
                            <button class="btn_info_home" >ver más...</button>
                        </div>
                    </div>
                    <div class="card__info card2">
                        <div class="container__info">
                            <img   src="/img/papeleria.jpg" alt="Oficina">
                        </div>
                        <div class="details__info">
                            <h3>Papeleria</h3>
                            <button class="btn_info_home">ver más...</button>
                        </div>
                    </div>
                    <div class="card__info card3">
                        <div class="container__info">
                            <img   src="/img/oficina.jpg" alt="Oficina">
                        </div>
                        <div class="details__info">
                            <h3>Oficina</h3>
                            <button class="btn_info_home">ver más...</button>
                        </div>
                    </div>
                    <div class="card__info card4">
                        <div class="container__info">
                            <img   src="/img/estudiante.jpg" alt="Oficina">
                        </div>
                        <div class="details__info">
                            <h3>Estudiante</h3>
                            <button class="btn_info_home">ver más...</button>
                        </div>
                    </div>
                   
                </div>

                


    </main>

  <!-- *********************************************************
            script
        ********************************************************* -->

    
    <%- include('./partials/footer') %> 

</body>

</html>