<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %> 

<body class="home">

    <%- include('./partials/header') %> 
   
    <main>
        <section class="body_carrusel">
            <div class="contenedor_carrusel">

                <input type="radio" id="1" name="image-slide" hidden/>
                <input type="radio" id="2" name="image-slide" hidden/>
                <input type="radio" id="3" name="image-slide" hidden/>

                <div class="carrusel">
                    <div class="item_carrusel">
                        <img class="img_carrusel" src="img/carrusel_1.gif" alt="">
                    </div>

                    <div class="item_carrusel">
                        <img src="img/carrusel_2.gif" alt="">
                    </div>

                    <div class="item_carrusel">
                        <img src="img/carrusel_3.gif" alt="">
                    </div>
                </div>

                <div class="paginacion">
                    <label class="item_paginacion" for="1">
                        <img src="img/carrusel_1.gif" alt="">
                    </label>
                    <label class="item_paginacion" for="2">
                        <img src="img/carrusel_2.gif" alt="">
                    </label>
                    <label class="item_paginacion" for="3">
                        <img src="img/carrusel_3.gif" alt="">
                    </label>
                </div>

            </div>
        </section>
        
        <article class="articulo">

            <div class="services">
                
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-truck"></i>
                    </div>
                    <h4>Envios a todo el país</h4>
                    <p >Llegamos a todos los rincones del pais.</p>
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="far fa-credit-card"></i>
                   </div>
                    <h4>Facilidades de pago</h4>
                    <p >Recibimos todos los medios de pago.</p> 
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-award"></i>
                   </div>
                    <h4>Precios Premium</h4>
                    <p >Precios especiales a instituciones, empresas y revendores.</p>   
               
                </div>
               
                <div class="item">
                    <div class="icono">
                        <i class="fas fa-award"></i>
                   </div>
                    <h4>Seguimiento de pedido</h4>
                    <p>En el despacho de todos nuestros paquetes</p>
                </div>
            </div>
        </article>

            </section>

            <div class="carousel">
                <div class="carousel__contenedor">
                    <button aria-label="Anterior" class="carousel__anterior">
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <div class="carousel__lista">
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_exito.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_bic.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_faber.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_ledesma.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_paprika.png" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_postit.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_sharpie.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img  class="carousel__img" src="img/logo_avery.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_casio.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_edding.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_muresco.webp" alt="">
                        </div>
                        <div class="carousel__elemento">
                            <img class="carousel__img" src="img/logo_pizzini.webp" alt="">
                        </div>
                    </div>

                    <button aria-label="Siguente" class="carousel__siguiente">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>

                <div role="talist" class="carousel__indicadores"></div>

            </div>



        </div>

       
        <h4>Productos destacados</h4> 

        

        <section class="section-products">
            <% productos.forEach (producto => { %>
                <% if(+producto.categoriaId === 1){%>
            <article class="products">
                <img class="cart-products" src="/img/productsimg/<%= producto.imagen %> " alt="imagen producto">
                <h3><%= producto.marca %></h3>
                <p>
                    <%= producto.nombre %> 
                </p>
                <p class="precio">$ <%= producto.precio %></p>
                <a href="/product/<%= producto.id %> ">
                    <button class="button-agregar" >VER MÁS...</button>
                </a> 
            </article>
            <% } %>
			<% }) %>
          
        </section>
        
        <div class="banner">
            <img src="/img/publicidad_home.png" alt="venta agenda">
        </div>

        <section class="lugares">
            <div>
                <img   src="/img/oficina.jpg" alt="Oficina">
                <a href="">Empresas</a>
            </div>
            <div>
                <img  src="/img/escuela.jpg" alt="Escuela">
                <a href="">Instituciones</a>
            </div>
            <div>
                <img src="/img/libreria.jpg" alt="Librería">
                <a href="">Revendores</a>
            </div>
            <div>
                <img  src="/img/estudiouniversitario.jpg" alt="Universidad">
                <a href="">Universitario</a>
            </div>
           
            <div class="lugares-tablet">
                <img src="/img/libreria.jpg" alt="Librería">
                <a href="">Revendores</a>
            </div>
            <div class="lugares-tablet"> 
                <img  src="/img/estudiouniversitario.jpg" alt="Universidad">
                <a href="">Universitario</a>
            </div>
        </section>
   
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/carrusel.js"></script>
    <%- include('./partials/footer') %> 

</body>

</html>