<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body class="product home">

    <%- include('./partials/header') %> 

    <main class="detalle__producto">






    <section class="container_productDetail">
        <div class="left-column_productDetail">
            <img data-image="black" class="cart-products" src="/img/productsimg/<%= productos.imagen %> " alt="imagen producto">

          </div>
         
          <!-- Right Column -->
          <div class="right-column_productDetail">
         
            <!-- Product Description -->
            <div class="product-description_productDetail">


              
              <span><%= productos.marca %></span>
              <h1> <%= productos.nombre %></h1>
              <p><%= productos.descripcion %></p>
            </div>
         
            <!-- Product Configuration -->
            <div class="product-configuration_productDetail">
         
     
              <!-- Product Pricing -->
            <div class="product-price_productDetail">
                <span>$ <%= productos.precio %></span>
              </div>


             
         
                <div class="cable-choose_productDetail">
                  <button class="btn_prouctDetail1">Editar</button>
                  <button class="btn_prouctDetail2">Eliminar</button>
                  <button class="btn_prouctDetail3">Agregar Carrito</button>
                </div>
             
            </div>
         
            
          </div>
    
    </section>

        













    
      
    </main>
    
   
    <%- include('./partials/footer') %> 
    
</body>
</html>