<!DOCTYPE html>
<html lang="es">

    <%- include('./partials/head') %>

<body class="product">

    <%- include('./partials/header') %> 

    <main>

        <section>
            <article class="producto">
                <img class="cart-products" src="/img/productsimg/<%= productos.imagen %> " alt="imagen producto">
                <div class="detalle">
                    <p>
                        <%= productos.nombre %>
                    </p>
                <h3><%= productos.marca %></h3>
                
                <p class="precio">$ <%= productos.precio %></p>
                <p class="diseños"><%= productos.descripcion %></p>
                
                <div class="agregar">
                    <p> - 1 +</p>
                    <a href="#">
                        <button class="button-agregar" >AGREGAR</button>
                    </a> 
                </div>
            </div>
            </article>
        </section>

       
      
    </main>

    <%- include('./partials/footer') %> 
    
</body>
</html>