<!DOCTYPE html>
<html lang="es">
    
    <%- include('./partials/head') %> 

<body class="home">

    <main >
    
      <section class="container_productDetail">
        <div class="left-column_productDetail">
            <img data-image="black" class="cart-products" src="/img/productsimg/<%= productos.imagen %> " alt="imagen producto">

          </div>
         
          <!-- Right Column -->
          <div class="right-column_productDetail">
         
            <!-- Product Description -->
            <div class="product-description_productDetail">


              
              <span><%= productos.marca %></span>
              <h1> <%= productos.nombre %></h1>
              <p><%= productos.descripcion %></p>
            </div>
         
            <!-- Product Configuration -->
            <div class="product-configuration_productDetail">
         
     
              <!-- Product Pricing -->
            <div class="product-price_productDetail">
                <span>$ <%= productos.precio %></span>
              </div>


             
         
                <div class="cable-choose_productDetail">

                  <% if (!(locals.user)) {%> 
                    <a href="/cart"><button class="btn_prouctDetail3">Agregar Carrito</button></a>
                    <% } else { %> 
                  
                  <button class="btn_prouctDetail1" onclick="location.href='/admin/edit/<%= productos.id %> '">Editar</button>
                  
                  <form action="/product/<%= productos.id %>?_method=DELETE" method="POST" style="display: inline-flex" id="eliminar-producto">
                    <button type="submit" class="btn_prouctDetail2 ">Eliminar</button>
                  </form>
                  <% } %> 
                </div>
             
                


            </div>
         
            
          </div>
    
    </section>
    <script src="/js/sweet.js"></script>
    </main>

  
    <%- include('./partials/footer') %> 

</body>

</html>